<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>皖西胜利学校</title>
		<script src="js/modernizr.js"></script>
		<link href="css/basic.css" rel="stylesheet" />
	</head>
	<body>
		<header id="header">
			<h1>皖西胜利学校</h1>
		</header>
		<nav id="nav">
			<ul>
				<li class="first"><a href="/">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
				<li><a href="#">学校概况</a></li>
				<li><a href="#">师资队伍</a></li>
				<li><a href="#">教育教学</a></li>
				<li><a href="#">招生信息</a></li>
				<li><a href="#">人才招聘</a></li>
				<li><a href="/wanxi" class="last">走进皖西</a></li>
				<li class="last"><time id="time">2012/5/12 星期日</time></li>
			</ul>
			<div class="clear"></div>
		</nav>