<%- include header.html %>

	<div id="container" class="wanxi">
		<article>
			<header>
				<h2>走进皖西</h2>
			</header>
			<figure>
				<img src="img/other/wanxi.jpg" />
				<figcaption>皖西风景</figcaption>
			</figure>
			<div id="content">
				<p>皖西是安徽省西部地区大别山区一市五县的统称（地级六安市），即六安市与霍山、舒城、寿县、霍邱、金寨。皖西风景秀丽，旅游资源丰富，主要主要地区为长江流域和淮河流域，现皖西多特指安徽省六安市。</p>
				<section>
					<h3>革命老区皖西</h3>
					<p>皖西是红军的故乡，将军的摇篮。1930 年3月，红一军成立，辖3 个师，其中2个师是皖西部队，六安籍黄浦一期生许继慎任军长、徐向前任副军长（兼第一师师长），统一了鄂豫皖边区的军事指挥。此后，在皖西地区先后组建了红一军新的第三师、中央独立第一师、中央教导第二师、红四军第十一师、十二师、红二十五军三个师、红二十七军两个师、红二十八军和大量的地方武装，为人民军队的发展壮大做出了巨大贡献。 1932 年徐向前指挥的苏家埠战役，是红军史上的空前大捷。在1955年至1964 年授衔的开国将军中，全省130 位，皖西籍占 108 位。全国九个将军县，金寨、原六安县名列第二、第六位。</p>
				</section>
				<section>
					<h3>地理区位</h3>
					<p>皖西地区依山襟淮，承东接西，区位优越。西与河南、湖北两省接壤，东邻合肥，北连阜阳、淮南，南靠安庆。贯淮淠而望江海，连鄂豫而衔中原，是大别山沿淮经济区的中心地区。地处中国经济最具发展活力的“长三角”腹地，也是承接东部沿海地区经济辐射和产业转移的前沿地带。</p>
				</section>
				<section>
					<h3>文化历史</h3>
					<p>皖西文化源远流长，特色鲜明。上古时，这里是偃姓皋陶部族活动和聚居地。皋陶文化的文明之光从这里播向华夏，传向世界。“成长于江汉，扎根于江淮”的楚文化在这里高度成熟。从春秋战国到西汉中期，这里一直是道家、农家和儒家学派研究和教育活跃的地区。南宋时发明的“突火枪”，是管状兵器的始祖。明末喻本元、喻本亨兄弟的《元亨疗马集》，被后世称为兽医学的“本草纲目”。伴随着如火如荼的革命岁月而产生的红军文化热情高亢，形式活泼，独树一帜。皖西文化艺术门类丰富，民歌、民舞、曲艺、灯会和民间剧目种类繁多，折射出江淮地区和大别山区劳动人民勤劳与智慧。</p>
					<p>皖西也是著名的革命老区，是红军的故乡，将军的摇篮。红一军、红四军、红二十五军、红二十七军、红二十八军等主力红军相继在这里组建和战斗过。在血与火的战争年代里，六安人民为民族的解放、新中国的诞生作出了巨大的贡献，有30万优秀儿女献出了宝贵生命，同时也炼就了一大批英雄杰出人物。仅在幸存的人民解放军指挥员中，就走出了108位功勋卓著的开国将军，并拥有金寨、六安两个将军县。</p>
				</section>
				<section>
					<h3>资源景点</h3>
					<p>皖西山川锦绣，人文荟萃，旅游资源十分丰富，并以其山水兼得、名胜众多而跻身于安徽旅游大市行列，成为全省六大旅游区之一。全市共有A级旅游景点(区)17处，其中4A级风景区多处（例如天堂寨、万佛湖、寿县古城、八公山和楚文化博物馆等）。</p>
					<p>皖西的资源丰富而独特。境内有木本、草本植物3800多种，各类水陆栖生脊椎动物500多种。盛产110多种名特优稀农副产品和1400余种中药材，粮、油、棉、麻、茶，茧、板栗、肉禽、羽绒、水产等产量多数居全省第一，六安瓜片、皖西白鹅、霍山石斛甲天下。</p>
					<p>地质构造上属秦岭造山带东段，是地壳运动比较活跃的地区，也是成矿条件较好的区域。矿产资源的特点是总量大，品种多。已发现矿藏40多种，探明储量 30多种，石油、天然气也有较好的找矿前景。目前开采利用的有金、银、铅、锌、钼、橄榄岩、明矾石、花岗岩、大理石、石英石、瓷石、膨润土、钾长石、石灰岩、磁铁矿砂、各类建筑砂石、矿泉水、温泉水等20多种。 其中特大型富矿藏有金寨钼矿、霍邱周集铁矿等。</p>
				</section>
			</div>
		</article>
	</div>

<%- include footer.html %>